<form
  action="https://buttondown.email/api/emails/embed-subscribe/afontcu"
  method="post"
  target="popupwindow"
  data-testid="form"
  onsubmit="window.open('https://buttondown.email/afontcu', 'popupwindow')"
  class="newsletter-form"
>
  <p>
    <strong>Subscribe to the newsletter</strong> to receive my posts a week earlier, right to your inbox 🚀
  </p>
  <input type="hidden" value="1" name="embed">
  <label for="newsletter-email">Your email:</label>
  <input
    type="email"
    name="email"
    id="newsletter-email"
    required
  >
  <button class="btn" type="submit">
    <span>Subscribe</span>
  </button>
</form>
